html{
    background-color: rgb(2, 5, 11);
}

.page {
    display: flex;
    flex-direction: column;
   background-color: rgb(5, 21, 53);
    width: 30%;
    height: 30%;
    margin-left: 30%;
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 20px;
    border-radius: 20px;
    

}
.content-wrapper{
  
    
}
.image-container{
    text-align: center;
   


}
.image-container img{
    width: 100%;
    height: 100%;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 50px;
    border-radius: 20px 20px;
}
.etherum{
    display: flex;
    justify-content: space-between;
    width: 90%;

}
.etherum-green {
    display: flex;
    justify-content: space-between;
    width: 25%;
    color: aqua;
    margin-top: 50px;

}
.clock{
    display: flex;
    justify-content: space-between;
    width: 26%;
    color: rgb(160, 160, 157);
    margin-top: 50px;
}
.bottom-img img{
padding: auto;
padding-top: 35px;

}

hr{
    margin-top: 150px;
}
h1{
    color: aliceblue;
    font-family: roboto;
    font-weight: bolder;
    padding-left: 10px;
}
p{
    color: rgb(86, 81, 81);
    font-size: larger;
    font-weight: 900;
    padding-left: 30px;
}
.main-p{
    display: flex;
    
}
